body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.recipe-name {
  color:orange ;
}

.deletebtn {
  margin-top: 15px
}

.animate__fadeIn, .animate__animated{
  --animation-duration: 5s;
}