<%- include('../partials/userheader') %>
<br>
<h1>Create Your Own Recipe</h1>
<br>
<form id="new-form" action="/recipes" method="POST">
    <label><b>Recipe Name</b></label>
    <br>
    <input class="form-control" type="text" name="name">
    <br><br>
    <label><b>Cuisine Type</b></label>
    <br>
    <input class="form-control" type="text" name="cuisineType">
    <br><br>
    <label><b>Ingredients</b><small> (separate by comma)</small></label>
    <br>
    <input class="form-control" type="text" name="ingredients" placeholder="i.e: zucchini, carrot">
    <br><br>
    <label><b>Instructions</b></label>
    <br>
    <textarea class="form-control" type="text" name="instructions"></textarea>
    <br><br>
    <label><b>Difficulty</b></label>
    <br>
    <select class="form-control form-control-sm" name="difficulty" required>
        <option selected disabled value="">Select One</option>
        <option value="beginner">Beginner</option>
        <option value="intermediate">Intermediate (homecook)</option>
        <option value="professional">Professional</option>
    </select>
    <br><br>
    <button class="me-2 mt-2 btn btn-outline-primary btn-sm" type="submit">+ Add Recipe</button>
  </form>